/*JID SETUP for Product Cards main.css */

.dark-primary-color {
    background: #0097A7;
}

.default-primary-color {
    background: #00BCD4;
}

.light-primary-color {
    background: #B2EBF2;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #009688;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

body {
    background: #B2EBF2;
    color: #212121;
}

.products-container {
    display: flex;
    flex-flow: wrap;
    color: #212121;
}

.product-ski {
    box-shadow: 20px;
    border: 1px solid black;
    width: 30%;
    color: #212121;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-ski img {
    max-width: 50%;
}

.product-gloves {
    border: 1px solid black;
    max-width: 30%;
    color: #212121;
}

.product-gloves img {
    max-width: 50%;
}

.product-ski-boots {
    border: 1px solid black;
    width: 30%;
    color: #212121;
}

.product-ski-boots img {
    max-width: 50%;
}

.productHeader {
    align-content: flex-end;
    border: 1px solid lightblue;
    text-align: center;
    color: #FFFFFF;
    background: #00BCD4;
}

.specifications {
    font-weight: bold;
    max-width: 100%;
    color: #212121;
    /* background: #00BCD4; */
}

.avalilability {
    width: 100%;
    /* border: 1px solid red; */
    align-content: stretch;
    color: #212121;
    background: #00BCD4;
}